#user_edit_form{
    display: none;
    padding: 1vh 1vw;
}
#user_register_form{
    display: none;
    padding: 1vh 1vw;
}
#edit_good_form{
    display: none;
    padding: 1vh 1vw;
}
#inquiry_check_form{
    display: none;
    padding: 1vh 1vw;
}
