#cart_form {
  width: 70%;
  margin: 0 auto;
}

#cart_form #cart_message h2 {
  -webkit-border-radius: 5px;
  padding: 1vh 0;
          border-radius: 5px;
  background-color: #FEE9ED;
  color: red;
  font-weight: normal;
  text-align: center;
}

#cart_form table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #E0E0E0;
}

#cart_form table th,
#cart_form table td {
  padding: 10px 0;
  text-align: center;
}

#cart_form table tr:nth-child(odd) {
  background-color: #CACACA;
}

#table_top_obj {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
          align-items: center;
          justify-content: space-between;
  width: 100%;
  margin: 1vh auto;
}

#table_top_obj h2 {
  font-size: 4vmin;
  font-weight: normal;
}

#table_top_obj #settlement {
  width: 30%;
  text-decoration: none;
}

#table_top_obj #settlement input[type=button] {
  -webkit-border-radius: 5px;
  -webkit-transition: all 0.5s;
  display: block;
  width: 25%;
  width: 100%;
  height: 7vh;
  margin: 2vh auto;
          border-radius: 5px;
  background-color: #4F5D75;
  color: white;
  font-size: 3vmin;
  line-height: 7vh;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}

#table_top_obj #settlement input[type=button]:hover {
  background-color: #6F7A8E;
  cursor: pointer;
}

.good_table .good {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
          align-items: center;
          justify-content: space-between;
  width: 90%;
  height: 15vh;
  margin: 0 auto;
}

.good_table .good img {
  max-width: 20%;
  height: auto;
  max-height: 90%;
}

.good_table .good .good_detail {
  width: 60%;
}

.good_table .good .good_detail h2,
.good_table .good .good_detail h3 {
  font-weight: normal;
}

.good_table .good label {
  width: 10%;
}

.good_table .good label select {
  display: block;
  width: 70%;
  height: 3vh;
  margin: 1vh 0;
  padding: 0 0.5vw;
  border: 1px solid gray;
  font-size: 2vmin;
  line-height: 5vh;
}

.good_table .good .cart_delete_button {
  -webkit-border-radius: 5px;
  -webkit-transition: all 0.5s;
  display: block;
  width: 10%;
  height: 40%;
          border-radius: 5px;
  background-color: #A6A6A6;
  color: #FFF;
  font-size: 120%;
  line-height: 40%;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}

.good_table .good .cart_delete_button:hover {
  background-color: #B8B8B8;
}

