#good_detail_form {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: space-between;
  width: 90%;
  height: 60vh;
  margin: 0 auto;
}

#good_detail_form img {
  height: 100%;
}

#good_detail_form table {
  width: 40%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #E0E0E0;
}

#good_detail_form table th,
#good_detail_form table td {
  padding: 10px 0;
  text-align: center;
}

#good_detail_form table tr:nth-child(odd) {
  background-color: #CACACA;
}

#good_detail_form #add_cart {
  width: 15%;
}

#good_detail_form #add_cart form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;
  font-size: 2vmin;
}

#good_detail_form #add_cart form label {
  text-align: center;
}

#good_detail_form #add_cart form select {
  margin-top: 1.5vh;
  padding: 0.25vw;
  font-size: 2vmin;
}

#good_detail_form #add_cart form input {
  -webkit-border-radius: 5px;
  -webkit-transition: all 0.5s;
  display: block;
  width: 25%;
  width: 100%;
  height: 7vh;
  margin: 2vh auto;
  margin: 0 auto 2vh;
          border-radius: 5px;
  background-color: #4F5D75;
  color: white;
  font-size: 3vmin;
  line-height: 7vh;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}

#good_detail_form #add_cart form input:hover {
  background-color: #6F7A8E;
  cursor: pointer;
}

#relate_goods {
  width: 90%;
  margin: 2vh auto;
}

#relate_goods #good_list {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: space-between;
  margin: 2vh auto;
}

#relate_goods #good_list #good {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;
          justify-content: center;
  width: 12.5%;
}

#relate_goods #good_list #good a {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: center;
  text-decoration: none;
}

#relate_goods #good_list #good img {
  width: 90%;
  margin: 0 auto;
}

#relate_goods #good_list #good h2 {
  margin: 0;
  color: black;
  font-size: 2vmin;
  font-weight: normal;
  text-align: center;
}

