#l_r_form {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
  width: 60%;
  margin: 3vh auto 0;
  font-family: sans-serif;
}

#l_r_form h2 {
  font-size: 3vmin;
  font-weight: normal;
}

#l_r_form h3 {
  font-size: 4vmin;
  font-weight: normal;
}

#l_r_form h4 {
  font-size: 2.5vmin;
  font-weight: normal;
}

#l_r_form a {
  color: #4F5D75;
  text-align: center;
  text-decoration: none;
}

#l_r_form #login_error h2 {
  -webkit-border-radius: 5px;
  padding: 1vh 0;
          border-radius: 5px;
  background-color: #FEE9ED;
  color: red;
  font-weight: normal;
  text-align: center;
}

#l_r_form #login_message h2 {
  -webkit-border-radius: 5px;
  padding: 1vh 0;
          border-radius: 5px;
  background-color: #8BC58B;
  color: green;
  font-weight: normal;
  text-align: center;
}

#l_r_form form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;
}

#l_r_form form label {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
          justify-content: center;
  width: 100%;
  margin: 1vh 0;
}

#l_r_form form input[type=password],
#l_r_form form input[type=tel],
#l_r_form form input[type=text],
#l_r_form form input[type=textarea] {
  -webkit-transition: 0.3s;
  -webkit-border-radius: 4px;
  width: 90%;
  padding: 0.5vh 0.5vw;
  border: 1px solid #1b2538;
          border-radius: 4px;
  outline: none;
  font: 2vmin / 3vmin sans-serif;
  transition: 0.3s;
}

#l_r_form form input[type=password]:focus,
#l_r_form form input[type=tel]:focus,
#l_r_form form input[type=text]:focus,
#l_r_form form input[type=textarea]:focus {
  -webkit-box-shadow: 0 0 10px 2px rgba(128, 128, 128, 0.5);
  outline: none;
          box-shadow: 0 0 10px 2px rgba(128, 128, 128, 0.5);
}

#l_r_form form input[type=submit],
#l_r_form form input[type=button] {
  -webkit-border-radius: 5px;
  -webkit-transition: all 0.5s;
  display: block;
  width: 25%;
  height: 7vh;
  margin: 2vh auto;
          border-radius: 5px;
  background-color: #4F5D75;
  color: white;
  font-size: 3vmin;
  line-height: 7vh;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}

#l_r_form form input[type=submit]:hover,
#l_r_form form input[type=button]:hover {
  background-color: #6F7A8E;
  cursor: pointer;
}

#l_r_form form .form_error_message.with_icon {
  margin: 0 0 0 1vw !important;
}

#l_r_form form .icon_input {
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
          align-items: center;
}

#l_r_form form .icon_input i {
  -webkit-border-radius: 3px 0 0 3px;
  display: block;
  width: 5vw;
  height: 5vh;
  border: 1px solid #ccc;
          border-radius: 3px 0 0 3px;
  background-color: #DFDFDF;
  font-size: 2.5vmin;
  line-height: 5vh;
}

#l_r_form form .icon_input input {
  -webkit-border-radius: 0 3px 3px 0;
  display: block;
  height: 5vh;
          border-radius: 0 3px 3px 0;
}

#l_r_form form #inquiry_content_topic {
  margin: 0;
  font-size: 3vmin;
}

#l_r_form form .form_error_message_subject {
  margin: 0 0 -1vh 3vw;
  color: #c20c33;
}

#l_r_form form .form_error_message_content {
  margin: 0 0 -1vh;
  color: #c20c33;
}

#l_r_form #confirm_table {
  width: 100%;
  margin: 0 0 3vh;
  border-collapse: collapse;
}

#l_r_form #confirm_table tr {
  border-bottom: solid 2px white;
  font-size: 3vmin;
}

#l_r_form #confirm_table th {
  position: relative;
  width: 30%;
  padding: 10px 0;
  background-color: #52c2d0;
  color: white;
  font-size: 3vmin;
  text-align: center;
  white-space: nowrap;
}

#l_r_form #confirm_table th:after {
  display: block;
  position: absolute;
  top: -webkit-calc(50% - 10px);
  top: calc(50% - 10px);
  right: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #52c2d0;
  content: "";
}

#l_r_form #confirm_table td {
  width: 70%;
  padding: 10px 0;
  background-color: #eee;
  text-align: center;
}

#l_r_form #confirm_form {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: row !important;
     -moz-box-orient: horizontal !important;
     -moz-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

#l_r_form #login_remember_check {
  display: none;
}

#l_r_form #login_remember_check:checked + #login_remember:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
  top: 0.2vh;
  left: 0.4vw;
  width: 0.75vw;
          transform: rotate(45deg);
  border-top: 0;
  border-left: 0;
  border-color: #3cb371;
}

#l_r_form #login_remember {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
  display: inline-block;
  position: relative;
  height: 3vh;
  padding-left: 2vw;
  font-size: 2vmin;
  line-height: 3vh;
  cursor: pointer;
          user-select: none;
}

#l_r_form #login_remember:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-transition: 0.1s ease-in-out;
          box-sizing: border-box;
  display: block;
  position: absolute;
  top: 0.4vh;
  left: 0;
  width: 2vmin;
  height: 2vmin;
  border: solid 3px #555;
  content: "";
  transition: 0.1s ease-in-out;
}

#l_r_form #inquiry_header {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: center;
}

#l_r_form #inquiry_header select {
  -webkit-border-radius: 4px;
  width: 90%;
  height: 5vh;
  padding: 0.5vh 0.5vw;
          border-radius: 4px;
  font-size: 2vmin;
  line-height: 100%;
}

#l_r_form #inquiry_header #select_option {
  width: 30%;
}

#l_r_form #inquiry_header #subject_input {
  width: 100%;
  height: 5vh;
  font-size: 2vmin;
  line-height: 5vh;
}

#l_r_form #inquiry_header #inquiry_subject {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;
  width: 70%;
}

