#setting_menu {
  width: 60%;
  margin: 0 auto;
}

#setting_menu h2 {
  font-weight: normal;
}

#setting_menu ul {
  -webkit-border-radius: 5px;
  width: 100%;
  margin: 0;
  padding: 0;
          border-radius: 5px;
  list-style: none;
}

#setting_menu ul li {
  background-color: #BDC2BF;
  font-size: 4vmin;
}

#setting_menu ul li a {
  color: black;
  text-decoration: none;
}

#setting_menu ul li:first-child {
  -webkit-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
}

#setting_menu ul li:last-child {
  -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
}

#setting_menu ul li:nth-child(even) {
  background-color: #DBDDDC;
}

#setting_form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

#setting_form h2 {
  font-weight: normal;
}

#setting_form .flash_message h2 {
  -webkit-border-radius: 5px;
  padding: 1vh 0;
          border-radius: 5px;
  background-color: #8BC58B;
  color: green;
  font-weight: normal;
  text-align: center;
}

#setting_form table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 3vmin;
  table-layout: fixed;
}

#setting_form table th {
  width: 30%;
  border-bottom: black 1px dotted;
  background: #D9D9D9;
  font-weight: normal;
  text-align: center;
}

#setting_form table td {
  word-wrap: break-word;
  width: 70%;
  padding: 10px;
  border-bottom: black 1px dotted;
  background-color: #EEEEEE;
  text-align: left;
}

#setting_form .input_form {
  -webkit-transition: 0.3s;
  -webkit-border-radius: 4px;
  width: 90%;
  padding: 0.5vh 0.5vw;
  border: 1px solid #1b2538;
          border-radius: 4px;
  outline: none;
  font: 2vmin / 3vmin sans-serif;
  transition: 0.3s;
}

#setting_form .input_form:focus {
  -webkit-box-shadow: 0 0 10px 2px rgba(128, 128, 128, 0.5);
  outline: none;
          box-shadow: 0 0 10px 2px rgba(128, 128, 128, 0.5);
}

#setting_form input[type=submit] {
  -webkit-border-radius: 5px;
  -webkit-transition: all 0.5s;
  display: block;
  width: 25%;
  height: 7vh;
  margin: 2vh auto;
          border-radius: 5px;
  background-color: #4F5D75;
  color: white;
  font-size: 3vmin;
  line-height: 7vh;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}

#setting_form input[type=submit]:hover {
  background-color: #6F7A8E;
  cursor: pointer;
}

