#publisher_form{
    display: flex;
    display: -webkit-flex;
}

#side_bar{
    min-height: 77vh;
    width: 15%;
    background-color: #C0C0C0;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#side_bar label{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    height: 6vh;
    border-bottom: black 1px dotted;
    font-size: 1.5vmin;
    padding:1vh 1vw;

}

#side_bar h2{
    margin: 0;
    line-height: 4vh;
    font-weight: normal;
}

#side_bar i{
    font-size: 3vmin;
    line-height: 4vh;
}


#side_bar input[type="radio"]{
    display: none;
}

#side_bar input[type="radio"]:checked + label{
    background-color: #90C0C0;
}

#main_content{
    width: 85%;
}

#main_content #sales_history{
    display: none;
}

#main_content #good_edit{
    display: none;
}

#main_content #good_display{
    display: none;
}
