#search_result_form {
  width: 90%;
  margin: 0 auto;
}

#search_result_form form {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
          justify-content: center;
  margin: 3vh 0;
}

#search_result_form form select {
  width: 13%;
  border: solid 1px #ccc;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 1.5vmin;
}

#search_result_form form input[type=text] {
  width: 40%;
  font-size: 2.5vmin;
}

#search_result_form form input[type=submit] {
  -webkit-border-radius: 0 3px 3px 0;
  padding: 1vh 2vw;
  border: 1px solid gray;
          border-radius: 0 3px 3px 0;
  background-color: #DFDFDF;
  font-size: 2.5vmin;
  cursor: pointer;
}

#search_result_form #search_result_goods {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
          flex-wrap: wrap;
}

#search_result_form #search_result_goods #search_result_message {
  width: 100%;
  margin: 1vh 0;
  text-align: center;
}

#search_result_form #search_result_goods .good {
  width: 25%;
  margin: 1vh 0;
}

#search_result_form #search_result_goods .good img {
  width: 90%;
}

#search_result_form #search_result_goods .good a {
  text-decoration: none;
}

#search_result_form #search_result_goods .good h3 {
  margin: 0;
  padding: 0 0 0 1vw;
  color: black;
  font-weight: normal;
}

