.settlement_form{
    width: 60%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
}
.settlement_form form{
    width: 100%;
}
.settlement_form h3{
    font-size: 3vmin;
    font-weight: normal;
}

.select_radio{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3vh;
}

.payment_radio{
    border-style: dotted;
    border-width: 0 0 1px;
    border-color: black;
}

.select_radio label{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    border: gray 1px solid;
    width: 30%;
    border-radius: 5px;
}

.payment{
    height:10vh;
}

.select_radio input[type="radio"]{
    display: none;
}

.select_radio input[type="radio"]:checked ~ .radio_option{
    background-color: #FF8B8B;
}

.radio_option{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 1vh 0;
}

.radio_option i{
    text-align: center;
    font-size: 5vmin;
}

.radio_option span{
    text-align: center;
}

.address_select{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.address_input_form{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.address_input_form .text_form{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.address_input_form .do_input{
    border: gray 1px solid;
    border-radius: 5px;
}

.address_input_form #do_input{
    display: none;
}

#do_input:checked ~ .radio_option{
    background-color: #FF8B8B;
}

.address_form{
    font: 2vmin/3.5vmin sans-serif;
    box-sizing: border-box;
    width: 100%;
    margin: 1vh 0;
    transition: 0.3s;
    border: 1px solid #1b2538;
    border-radius: 4px;
    outline: none;
    padding: 1vh;
}

.address_form:focus {
    outline: none;
    box-shadow: 0 0 10px 2px rgba(128, 128, 128, 0.5);
}

.move_button{
    display: block;
    width: 25%;
    height: 7vh;
    line-height: 7vh;
    font-size: 3vmin;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #4F5D75;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.move_button[type="submit"]{
    margin: 2vh auto;
}

.move_button:hover{
    background-color: #6F7A8E;
}

.settlement_confirm_form{
    width: 60%;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.settlement_confirm_form #confirm_form{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}

#shipping_address{
    margin-top: 5vh;
    width: 100%;
}

#shipping_address table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #E0E0E0;
}

#shipping_address table th,table td{
    padding: 10px 0;
    text-align: center;
}

#shipping_address table tr:nth-child(odd){
    background-color: #CACACA;
}

#shipping_address table .good{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    height: 15vh;
    width: 80%;
    margin: 0 auto;
}
#shipping_address table .good img{
    height: 100%;
}
